TicTacToe/TicTacToe/Service References/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50180/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50180/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50180/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TicTacToe" />
      <xsd:import schemaLocation="http://localhost:50180/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGamePlay_getPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:getPlayers" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_getPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_addPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:addPlayer" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_addPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPlayerResponse" />
  </wsdl:message>
  <wsdl:portType name="IGamePlay">
    <wsdl:operation name="getPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePlay/getPlayers" message="tns:IGamePlay_getPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePlay/getPlayersResponse" message="tns:IGamePlay_getPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePlay/addPlayer" message="tns:IGamePlay_addPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePlay/addPlayerResponse" message="tns:IGamePlay_addPlayer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGamePlay" type="tns:IGamePlay">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPlayers">
      <soap:operation soapAction="http://tempuri.org/IGamePlay/getPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPlayer">
      <soap:operation soapAction="http://tempuri.org/IGamePlay/addPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IGamePlay" binding="tns:BasicHttpBinding_IGamePlay">
      <soap:address location="http://localhost:50180/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>